In [1]:
#importing required libraries
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
# defining of web url needed for scraping local government areas in Lagos
url= 'https://www.finelib.com/cities/lagos/areas-and-suburbs'
headers= {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.111 Safari/537.36'}
r = requests.get(url, headers=headers)
r.status_code

200

In [3]:
area = BeautifulSoup(r.text, 'html.parser')

In [4]:
#extracting Areas data and converting to an array
names = area.select('a[href^="/cities/lagos/areas-and-suburbs/"]')
areas=[]
for name in names:
    areas.append(name.get_text(strip=True))

print(f'The length is {len(areas)} areas')

The length is 80 areas

In [5]:
#importing propertypro dataframe
pro = pd.read_csv('./propertypro_lagos_rent.csv')

In [6]:
#removing commas in price figures in other to convert to integers from string
pro.price = pro.price.str.replace(',', '')

In [83]:
#deleting rows with prices of 6,500,000/ year, because they are promoted data for properties in Abuja
#deleting rows with prices of 500 because they are outliers and perceived to be in accurate
pro.drop(pro[pro.price == '6500000/year'].index, inplace=True)
pro.drop(pro[pro.price == '500'].index, inplace=True)
pro.drop(pro[pro['title'].str.contains('SALE')].index, inplace =True)

In [84]:
#changing price column to integers
pro.price =pro['price'].astype(int)

In [85]:
pro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1001 entries, 0 to 1098
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1001 non-null   int64
 1   title       1001 non-null   object
 2   address     1001 non-null   object
 3   date_added  1001 non-null   object
 4   bed         1001 non-null   object
 5   bath        1001 non-null   object
 6   toilet      1001 non-null   object
 7   price       1001 non-null   int32
 8   type        1001 non-null   object
 9   area        1001 non-null   object
dtypes: int32(1), int64(1), object(8)
memory usage: 82.1+ KB

In [86]:
#creating an array of property types to be added as new a column with areas array
property_type=['SHOP','OFFICE SPACES','FLAT / APARTMENT','LANDS','SEMI DETACHED BUNGALOW','SEMI DETACHED DUPLEX','CO-WORKING SPACE','DETACHED BUNGALOW','DETACHED DUPLEX','WAREHOUSE','SHOP IN A MALL','SELF CONTAIN','MINI FLATS','HOUSES','TERRACED BUNGALOW','TERRACED DUPLEX','COMMERCIAL PROPERTIES']
len(property_type)

17

In [87]:
condition_type = [(pro['title'].str.contains(property_type[0])==True),
                    (pro['title'].str.contains(property_type[1])==True),
                    (pro['title'].str.contains(property_type[2])==True),
                    (pro['title'].str.contains(property_type[3])==True),
                    (pro['title'].str.contains(property_type[4])==True),
                    (pro['title'].str.contains(property_type[5])==True),
                    (pro['title'].str.contains(property_type[6])==True),
                    (pro['title'].str.contains(property_type[7])==True),
                    (pro['title'].str.contains(property_type[8])==True),
                    (pro['title'].str.contains(property_type[9])==True),
                    (pro['title'].str.contains(property_type[10])==True),
                    (pro['title'].str.contains(property_type[11])==True),
                    (pro['title'].str.contains(property_type[12])==True),
                    (pro['title'].str.contains(property_type[13])==True),
                    (pro['title'].str.contains(property_type[14])==True),
                    (pro['title'].str.contains(property_type[15])==True),
                    (pro['title'].str.contains(property_type[16])==True)]

In [88]:
pro['type']= np.select(condition_type, property_type)

In [89]:
condition_area = [(pro['address'].str.contains(areas[0]) == True),
                (pro['address'].str.contains(areas[1]) == True),
                (pro['address'].str.contains(areas[2]) == True),
                (pro['address'].str.contains(areas[3]) == True),
                (pro['address'].str.contains(areas[4]) == True),
                (pro['address'].str.contains(areas[5]) == True),
                (pro['address'].str.contains(areas[6]) == True),
                (pro['address'].str.contains(areas[7]) == True),
                (pro['address'].str.contains(areas[8]) == True),
                (pro['address'].str.contains(areas[9]) == True),
                (pro['address'].str.contains(areas[10]) == True),
                (pro['address'].str.contains(areas[11]) == True),
                (pro['address'].str.contains(areas[12]) == True),
                (pro['address'].str.contains(areas[13]) == True),
                (pro['address'].str.contains(areas[14]) == True),
                (pro['address'].str.contains(areas[15]) == True),
                (pro['address'].str.contains(areas[16]) == True),
                (pro['address'].str.contains(areas[17]) == True),
                (pro['address'].str.contains(areas[18]) == True),
                (pro['address'].str.contains(areas[19]) == True),
                (pro['address'].str.contains(areas[20]) == True),
                (pro['address'].str.contains(areas[21]) == True),
                (pro['address'].str.contains(areas[22]) == True),
                (pro['address'].str.contains(areas[23]) == True),
                (pro['address'].str.contains(areas[24]) == True),
                (pro['address'].str.contains(areas[25]) == True),
                (pro['address'].str.contains(areas[26]) == True),
                (pro['address'].str.contains(areas[27]) == True),
                (pro['address'].str.contains(areas[28]) == True),
                (pro['address'].str.contains(areas[29]) == True),
                (pro['address'].str.contains(areas[30]) == True),
                (pro['address'].str.contains(areas[31]) == True),
                (pro['address'].str.contains(areas[32]) == True),
                (pro['address'].str.contains(areas[33]) == True),
                (pro['address'].str.contains(areas[34]) == True),
                (pro['address'].str.contains(areas[35]) == True),
                (pro['address'].str.contains(areas[36]) == True),
                (pro['address'].str.contains(areas[37]) == True),
                (pro['address'].str.contains(areas[38]) == True),
                (pro['address'].str.contains(areas[39]) == True),
                (pro['address'].str.contains(areas[40]) == True),
                (pro['address'].str.contains(areas[41]) == True),
                (pro['address'].str.contains(areas[42]) == True),
                (pro['address'].str.contains(areas[43]) == True),
                (pro['address'].str.contains(areas[44]) == True),
                (pro['address'].str.contains(areas[45]) == True),
                (pro['address'].str.contains(areas[46]) == True),
                (pro['address'].str.contains(areas[47]) == True),
                (pro['address'].str.contains(areas[48]) == True),
                (pro['address'].str.contains(areas[49]) == True),
                (pro['address'].str.contains(areas[50]) == True),
                (pro['address'].str.contains(areas[51]) == True),
                (pro['address'].str.contains(areas[52]) == True),
                (pro['address'].str.contains(areas[53]) == True),
                (pro['address'].str.contains(areas[54]) == True),
                (pro['address'].str.contains(areas[55]) == True),
                (pro['address'].str.contains(areas[56]) == True),
                (pro['address'].str.contains(areas[57]) == True),
                (pro['address'].str.contains(areas[58]) == True),
                (pro['address'].str.contains(areas[59]) == True),
                (pro['address'].str.contains(areas[60]) == True),
                (pro['address'].str.contains(areas[61]) == True),
                (pro['address'].str.contains(areas[62]) == True),
                (pro['address'].str.contains(areas[63]) == True),
                (pro['address'].str.contains(areas[64]) == True),
                (pro['address'].str.contains(areas[65]) == True),
                (pro['address'].str.contains(areas[66]) == True),
                (pro['address'].str.contains(areas[67]) == True),
                (pro['address'].str.contains(areas[68]) == True),
                (pro['address'].str.contains(areas[69]) == True),
                (pro['address'].str.contains(areas[70]) == True),
                (pro['address'].str.contains(areas[71]) == True),
                (pro['address'].str.contains(areas[72]) == True),
                (pro['address'].str.contains(areas[73]) == True),
                (pro['address'].str.contains(areas[74]) == True),
                (pro['address'].str.contains(areas[75]) == True),
                (pro['address'].str.contains(areas[76]) == True),
                (pro['address'].str.contains(areas[77]) == True),
                (pro['address'].str.contains(areas[78]) == True),
                (pro['address'].str.contains(areas[79]) == True)]

In [90]:
pro['area']= np.select(condition_area, areas)

In [91]:
pro.head()

,Unnamed: 0,title,address,date_added,bed,bath,toilet,price,type,area
0,1,2 BEDROOM FLAT / APARTMENT FOR RENT,Mende Maryland Lagos,Added 19 Nov 2020,2 beds,2 baths,2 Toilets,1000000,FLAT / APARTMENT,Maryland
1,2,3 BEDROOM FLAT / APARTMENT FOR RENT,Ajao estate IsoloAjao Estate Isolo Lagos,Added 19 Nov 2020,3 beds,3 baths,4 Toilets,1500000,FLAT / APARTMENT,0
2,3,5 BEDROOM DETACHED DUPLEX HOUSE FOR RENT,Chevron Lekki Lagos,"Updated 19 Nov 2020, Added 05 Nov 2020",5 beds,5 baths,6 Toilets,4000000,DETACHED DUPLEX,Lekki
3,4,4 BEDROOM DETACHED DUPLEX HOUSE FOR RENT,Osapa London Lekki Lagos,"Updated 19 Nov 2020, Added 13 Nov 2020",4 beds,4 baths,5 Toilets,3500000,DETACHED DUPLEX,Lekki
4,5,5 BEDROOM OFFICE SPACE COMMERCIAL PROPERTY FOR...,off coker roadCoker Road Ilupeju Lagos,Added 18 Nov 2020,5 beds,5 baths,7 Toilets,5000000,0,Coker

In [92]:
pro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1001 entries, 0 to 1098
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1001 non-null   int64
 1   title       1001 non-null   object
 2   address     1001 non-null   object
 3   date_added  1001 non-null   object
 4   bed         1001 non-null   object
 5   bath        1001 non-null   object
 6   toilet      1001 non-null   object
 7   price       1001 non-null   int32
 8   type        1001 non-null   object
 9   area        1001 non-null   object
dtypes: int32(1), int64(1), object(8)
memory usage: 82.1+ KB

In [112]:
rentright_info = pro[['type', 'area', 'bed', 'bath', 'toilet', 'price']]

In [122]:
rentright_info.drop(rentright_info[rentright_info.type == '0'].index, inplace=True)
rentright_info.drop(rentright_info[rentright_info.area == '0'].index, inplace=True)

In [123]:
rentright_info.bed = rentright_info.bed.str.replace('beds', '')
rentright_info.bath = rentright_info.bath.str.replace('baths', '')
rentright_info.toilet = rentright_info.toilet.str.replace('Toilets', '')
rentright_info.type = rentright_info.type.str.lower()

In [166]:
rentright_info.drop(rentright_info[rentright_info.bed.str.contains('0')].index, inplace=True)
rentright_info.drop(rentright_info[rentright_info.bath.str.contains('0')].index, inplace=True)
rentright_info.drop(rentright_info[rentright_info.toilet.str.contains('0')].index, inplace=True)
rentright_info.drop(rentright_info[rentright_info.bed == ''].index, inplace=True)
rentright_info.drop(rentright_info[rentright_info.bath == ''].index, inplace=True)
rentright_info.drop(rentright_info[rentright_info.toilet == ''].index, inplace=True)

In [171]:
rentright_info.reset_index(inplace=True)

In [172]:
del rentright_info['level_0']

In [173]:
del rentright_info['index']

In [174]:
rentright_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    731 non-null    object
 1   area    731 non-null    object
 2   bed     731 non-null    object
 3   bath    731 non-null    object
 4   toilet  731 non-null    object
 5   price   731 non-null    int32
dtypes: int32(1), object(5)
memory usage: 31.5+ KB

In [175]:
rentright_info.head(15)

                    type             area bed bath toilet     price
0       flat / apartment         Maryland  2    2      2    1000000
1        detached duplex            Lekki  5    5      6    4000000
2        detached duplex            Lekki  4    4      5    3500000
3        terraced duplex            Ikeja  4    4      5    5500000
4   semi detached duplex            Lekki  4    4      5    4000000
5       flat / apartment            Lekki  3    3      4    2500000
6        terraced duplex            Lekki  4    4      5    5000000
7   semi detached duplex            Lekki  4    4      5    3500000
8   semi detached duplex            Lekki  4    4      5    3500000
9        terraced duplex            Lekki  4    4      5    2800000
10      flat / apartment            Ikoyi  3    3      4    9000000
11      flat / apartment            Ikoyi  3    3      4   10000000
12       terraced duplex            Ikeja  4    4      5    6500000
13      flat / apartment  Victoria Island  3    3      4   21500000
14       terraced duplex            Ikoyi  4    5      4   15000000

In [176]:
rent_type = rentright_info.type.unique()

rent_area = rentright_info.area.unique()

In [177]:
rentype = pd.DataFrame(rent_type)
rentarea = pd.DataFrame(rent_area)

In [178]:
rentright_info.to_csv('rent_right_data.csv')
rentype.to_csv('rent_type.csv')
rentarea.to_csv('rent_area.csv')